<div class="row">
  <div class="col-md-4">
    <h1>{{trader.getName()}}</h1>
    <h4>Unreleased PnL: {{trader.getUnreleasedPnL()}}</h4>
    <h4>Released PnL: {{trader.getReleasedPnL()}}</h4>
    <h4>Total PnL: {{trader.getTotalPnL()}}</h4>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <app-stocks (onStockSelect)="onStockSelect($event)" ></app-stocks>
    </div>
    <div class="form-group">
      <label for="count">Count</label>
      <input type="number" class="form-control" id="count" [formControl]="countInput" >
    </div>
    <button class="btn btn-success" (click)="buyStock()" id="buyStockBtn">Buy Stock</button>
  </div>

</div>
<br><br>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-warning">
      <div class="panel-heading"><h2>Open positions</h2></div>
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Symbol</th>
          <th>Mark</th>
          <th>Count</th>
          <th>Unreleased PnL</th>
          <th></th>
        </tr>
        <tr *ngFor="let trade of trader.getOpenTrades(); let i = index;" >
          <td>{{i}}</td>
          <td>{{trade.getStockInfo()}}</td>
          <td>{{trade.getMark()}}</td>
          <td>{{trade.getCount()}}</td>
          <td>{{trade.getUnreleasedPnL()}}</td>
          <td><button class="btn btn-default" (click)="closeTrade(trade)">Close</button></td>
        </tr>
      </table>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading"><h2>Closed Trades</h2></div>
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Symbol</th>
          <th>Mark</th>
          <th>Close Price</th>
          <th>Count</th>
          <th>PnL</th>
        </tr>
        <tr *ngFor="let trade of trader.getClosedTrades(); let i = index;" >
          <td>{{i}}</td>
          <td>{{trade.getStockInfo()}}</td>
          <td>{{trade.getMark()}}</td>
          <td>{{trade.getClosePrice()}}</td>
          <td>{{trade.getCount()}}</td>
          <td>{{trade.getPnL()}}</td>
        </tr>
      </table>
    </div>
  </div>
 <br>
  <div class="col-md-4">
    <div>
      <button class="btn btn-default" (click)="goBack()">Back</button>
    </div>
  </div>
</div>
